In [15]:
import pymysql

In [16]:
# 打开数据库连接
db = pymysql.connect(host='127.0.0.1',port=3306,user='root',passwd='root',db='xiaomai',charset='utf8')

In [17]:
# 使用db的cursor方法,创建一个游标对象
cursor = db.cursor()

In [11]:
# 执行insert语句
sql = 'insert into student values(0,"maimai",18,"江门",2)'

In [12]:
# 使用游标对象 cursor 的 execute 方法执行 sql 语句
cursor.execute(sql)

1

In [13]:
# 因为 python 连接 mysql 后默认开启了事务, 所以要使执行语句的结果生效, 要进行 commit 操作
db.commit()

In [14]:
# 操作完成后, 关闭 cursor 对象和数据库对象 db
cursor.close()
db.close()

In [18]:
# 执行update语句
sql = 'update student set name="mimi" where id=1'

In [19]:
cursor.execute(sql)
db.commit()

In [20]:
# 执行delete语句
sql = 'delete from student where id=2'

In [21]:
cursor.execute(sql)
db.commit()

In [22]:
cursor.close()
db.close()